.card {
  max-width: 32rem;
  background: var(--COLOR-CARD-BACKGROUND);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.image {
  position: relative;
  max-width: 100%;
  height: 200px;
}

.image .videoTime {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 40px;
  border-radius: 5px;
}

.image .channelImg {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  bottom: -20px;
  right: 20px;
}

.content {
  padding: 20px 10px;
}

.videoChannel {
  width: 40%;
  height: 10px;
}

.videoTitle {
  margin: 0.5rem 0;
  height: 20px;
}

.videoStats {
  width: 60%;
  height: 10px;
}

.loading,
.channelImg,
.image,
.videoTime,
.videoChannel,
.videoTitle,
.videoStats {
  background: rgb(49, 52, 69);
  background: linear-gradient(
    90deg,
    rgba(49, 52, 69, 1) 0%,
    rgba(70, 73, 92, 1) 52%,
    rgba(49, 52, 69, 1) 99%
  );
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
